//- svg sprite mixin
mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="#icon-" + name)

mixin link(path)
	link(rel="stylesheet", href=path+".css")

mixin script(path)
	script(src=path)

mixin body(name)
	- name = name || "body"
	body(class=name)
		.body-wrapper
			block content
				header.header
				main(class="main-"+name)
				footer.footer
		block scripts
			+script("js/common.js")

mixin poster(img,header,category,city,day,hours,mins,price,count)
	li.poster-item
		a(href="#").poster-link
		.poster-wrapper
			.poster-logo
				img(src="img/main/"+img+".jpg")
			.poster-details
				h3.poster-header #{header}
				a(href="#").poster-category #{category}
				a(href='#').poster-city #{city}
				p.poster-date #[span.day #{day} ] #[span.hours #{hours}]:#[span.mins #{mins}] 
			.poster-price-block
				p.poster-price #[span.price #{price}] руб.
				p.poster-count #[span.count-big Количество:] #[span.count-small Кол-во:] #[span.item-count #{count}]
				a(href="#").poster-btn Готов меняться

mixin services_item(text, number)
	li.services__item
		a.services__item-link #{text}
		span.services__item-count #{number}

