//- svg sprite mixin
mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="#icon-" + name)

mixin link(path)
	link(rel="stylesheet", href=path+".css")

mixin script(path)
	script(src=path)

mixin body(name)
	- name = name || "body"
	body(class=name)
		.body-wrapper
			block content
				header.header
				main(class="main-"+name)
				footer.footer
		block scripts
			+script("js/common.js")

mixin poster(img,header,category,city,day,hours,mins,price,count)
	li.poster-item
		a(href="#").poster-link
		.poster-wrapper
			.poster-logo
				img(src="img/main/"+img+".jpg")
			.poster-details
				h3.poster-header #{header}
				a(href="#").poster-category #{category}
				a(href='#').poster-city #{city}
				p.poster-date #[span.day #{day} ] #[span.hours #{hours}]:#[span.mins #{mins}] 
			.poster-price-block
				p.poster-price #[span.price #{price}] руб.
				p.poster-count #[span.count-big Количество:] #[span.count-small Кол-во:] #[span.item-count #{count}]
				a(href="#").poster-btn Готов меняться

mixin services_item(text, number)
	li.services__item
		a.services__item-link(href="#") #{text}
			span.services__item-count #{number}

mixin my_poster(img,header,price,count)
	li.my_poster-item
		a(href="#").my_poster-link
		.my_poster-wrapper
			.my_poster-logo
				img(src="img/main/"+img+".jpg")
			.my_poster-details
				h3.my_poster-header #{header}
				p.my_poster-price #[span.price #{price}] руб.
				p.my_poster-count #[span.count-big Количество:] #[span.count-small Кол-во:] #[span.item-count #{count}]
			.my_poster-options-block
				a(href="#").my_poster-edit #[+icon("edit")] #[+icon("edit_hover","hover")] Редактировать
				a(href="#").my_poster-messages #[+icon("message")] #[+icon("message_hover","hover")] Сообщения
				a(href="#").my_poster-up #[+icon("up_top")] #[+icon("up_top_hover","hover")] Поднять
				a(href="#").my_poster-delete #[+icon("trash")] #[+icon("trash_hover","hover")] Удалить

mixin my_message(img,name,title,msg,day,month,hour,min)
	li.my-messages__item
		.my-messages__item-check
		.my-messages__item-logo
			img(src="img/avatars/"+img+".jpg", alt="")
		.my-messages__item-details
			p.name #{name}
			p.post-item #{title}
			p.message-shortcut #{msg}
		.my-messages__item-date
			span.day #{day}
			span.month #{month}
			span.hours #{hour}
			span.mins #{min}

